{
    "printWidth": 120,
    "arrowParens": "always",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}